body {
	background-color: black
}
p, a {
	color: white;
	font-size: 25px;
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none
}
.frontWrapper {
	width: 100vw;
	text-align: center;
	padding-top: 50px
}
.contactWrapper {
	width: 100vw;
	text-align: center;
	padding-top: 25px
}
.contact {
	font-size: 12.5pt
}
a: hover {
	opacity: 70%;
	text-decoration: none
}
.logoWrapper {
	width: 100vw;
	text-align: center;
	padding-top: 250px
}
.logo {
	width: 100px
}
