html, body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/topography.png");
  background-attachment: fixed;
}

.myContent{
    display: block;
    width: 850px;
    margin: auto;
    margin-top: 50px;
    background: rgba(255, 255, 255, .8)
}

.myNav{
    display: flex;
}

.button.is-black.menuItems {
    max-height: 52px;
    height: 52px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0px;
}

.button.is-black:hover {
    background: white;
    color: black;
}

div.contactHeader {
    margin-bottom: 30px;
}

div.contactInfo {
    margin-bottom: 15px;
}