.myContent{
    display: block;
    width: 850px;
    margin: auto;
    margin-top: 50px;
}

.myNav{
    display: flex;
}

.button.is-black.menuItems {
    max-height: 52px;
    height: 52px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0px;
}

