html, body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/topography.png");
  background-attachment: fixed;
}

.myContent{
    display: block;
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    background: rgba(255, 255, 255, .8)
}

.myNav{
    display: flex;
}

.button.is-black.menuItems {
    max-height: 52px;
    height: 52px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0px;
}

.button.is-black:hover {
    background: white;
    color: black;
}

.contactDiv {
    max-width: 500px;
    margin: auto;
}

.column {
    padding: 1.25rem;
}

.contactHeader {
    margin-bottom: 35px;
}

.contactInfo {
    margin-bottom: 15px;
}

.attributes {
    display: flex;
    justify-content: space-around;
}

.addiMe {
    width: 100%;
    max-width: 900px;
}

.myName {
    margin-bottom: 12px !important;
}

.splashImage {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 50px;
}

.featureImage {
    max-width: 60px;
}
