<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--  My CSS  -->
  <link rel="stylesheet" href="css/styles.processed.css">
<!-- Bulma -->
  <link rel="stylesheet" href="css/bulma.min.css">
<!-- Bulma Backup -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  
</head>
<body>
  <div class="content">
    {{ content }}
  </div> 
</body>
<!--  JQuery   -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/styles.js"></script>
  
</html>